<main>
    <section class="user">
        <h2>PERSONAL DATA</h2>
            <div class="name">
                <h3>NAME</h3>
                <h4>{{user.username}}</h4>
               
               
            </div>
    
            <div class="email">
                <h3 >EMAIL</h3>
                <h4>{{user.email}}</h4>
            </div>
            <div class="wallet">
                <h3 >WALLET</h3>
                <h4>{{user.address}}</h4>
            </div>
    </section>

        <div class="planet">
            <div class="animation-entry"></div>
            <span class="mask st"></span>
            <span class="mask nd"></span>
            <span class="mask rd"></span>
            <span class="mask th"></span>
           <span class="mask fifth">
            <div class="st"></div>
            <div class="nd"></div>
            <div class="rd"></div>
           </span>
           
        
        <img src="assets/images/planet.png"  alt="">
    </div>

</main>
