.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(23, 23, 23, 0.81);
    top: 0;
    right: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    section {
        background: #262628;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 422px;
        padding: 3rem 0 ;
   
        h2 {
            font-size: 36px;
            margin-bottom: 29px;
        }
        p {
            font-family: 'Inter', sans-serif;
            width: 320px;
            a{
                color: var(--color-primary);
            }
        }
       button {
        margin-top: 4rem;
    
       }
    }
}